---
import Layout from "../layouts/Layout.astro";
import InnerPageContainer from '../components/innerPageComponent/innerPageComponent.vue';
---

<Layout title="" isInnerPage={true}>
    <InnerPageContainer>
        <h1>404 page</h1>
      </InnerPageContainer>
</Layout>

<style>
</style>
