---
import Layout from '@layouts/Layout.astro';
import BreadcrumbsComponent from '@components/breadcrumbsComponent/breadcrumbsComponent.vue';

const seoData = {
    pageTitle: 'Mobile Application',
    canonicalUrl: new URL(Astro.url.pathname, Astro.site),
    description: 'one stop mobile application for all the RGPV students.',
    keywords: 'Mobile Application, RGPV',
    imageUrl: 'https://www.rgpvnotes.in/assets/img/mobile-app/application.png',
}  
---

<Layout seoData={seoData} isInnerPage={true}>
    <main id="main">
        <BreadcrumbsComponent
            staticTitle="Mobile Application"
            breadCrumbsArray={[]}
        />

        <section class="inner-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <img
                            src="https://www.rgpvnotes.in/assets/img/mobile-app/application.png"
                            alt="notes not found"
                            class="page-img"
                        /><h1 class="section-heading text-uppercase">
                            <strong>Coming Soon</strong>
                        </h1><h4 class="section-subheading text-muted">
                            Our team is working on it.
                        </h4><p>
                            You will be able to access notes, Syllabus,
                            Timetable, News &amp; alerts from RGPV. We are also
                            working on a feature which will allow you to view
                            your result.
                        </p><p>
                            The plan is to launch it for Android first &amp;
                            then Iphone.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
</Layout>

<style>
.page-img {
    width: 100%;
    max-width: 320px;
    height: auto;
    margin-top: -50px
}
</style>
