---
import Layout from '../layouts/Layout.astro';
import breadcrumbsComponent from '../components/breadcrumbsComponent/breadcrumbsComponent.vue';
---

<Layout title="" isInnerPage={true}>
    <main id="main">
        <breadcrumbsComponent :staticTitle="Support Us" />

        <section class="inner-page">
            <div class="container">
                <p>Example inner page template</p>
            </div>
        </section>
    </main><!-- End #main -->
</Layout>

<style scoped>

.table > :not(:first-child) {
  border-top: unset;
}

.payment-logo {
  height: 32px;
}

</style>
