---
import Layout from '@layouts/Layout.astro';
import BreadcrumbsComponent from '@components/breadcrumbsComponent/breadcrumbsComponent.vue';

const seoData = {
    pageTitle: 'Latest time table from RGPV university for students',
    canonicalUrl: new URL(Astro.url.pathname, Astro.site),
    description: 'Latest time table from RGPV university for students',
    keywords: 'Latest time table, RGPV university, students',
    imageUrl: '',
}  
---

<Layout seoData={seoData} isInnerPage={true}>
    <main id="main">
        <BreadcrumbsComponent staticTitle="View Time Table" breadCrumbsArray={[]} />

        <section class="inner-page">
            <div class="container">
                <p>Coming Soon</p>
            </div>
        </section>
    </main><!-- End #main -->
</Layout>

<style></style>
