---
import Layout from '../layouts/Layout.astro';
import breadcrumbsComponent from '../components/breadcrumbsComponent/breadcrumbsComponent.vue';
---

<Layout title="" isInnerPage={true}>
    <main id="main">
      <breadcrumbsComponent :staticTitle="View Syllabus" />

        <section class="inner-page">
            <div class="container">
                <p>Example inner page template</p>
            </div>
        </section>
    </main><!-- End #main -->
</Layout>

<style>
    
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f2f6f9;
  min-height: 40px;
  margin-top: 85px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 56px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  font-size: 14px;
  margin: 0;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #3c6387;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

</style>
