---
import Layout from '../layouts/Layout.astro';
import BreadcrumbsComponent from '../components/breadcrumbsComponent/breadcrumbsComponent.vue';
---

<Layout title="" isInnerPage={true}>
    <main id="main">
        <BreadcrumbsComponent staticTitle="View Your Result" breadCrumbsArray={[]} />

        <section class="inner-page">
            <div class="container">
                <p>Coming Soon</p>
            </div>
        </section>
    </main><!-- End #main -->
</Layout>

<style></style>
