---
import Layout from '../layouts/Layout.astro';
---

<Layout title="" isInnerPage={true}>
<div>
    <h1>Redirecting you to our whatsapp page</h1>
    <meta http-equiv="refresh" content="0; url=https://api.whatsapp.com/send?phone=918989595022&text=Hey%20RGPV%20Notes%20Team%20I%20have%20some%20inquiry">
    <script>window.location.replace("https://api.whatsapp.com/send?phone=918989595022&text=Hey%20RGPV%20Notes%20Team%20I%20have%20some%20inquiry")</script>

</div>
</Layout>
