---
import Layout from "../../../layouts/Layout.astro";
import SearchAndSelector from '../../../components/homePage/heroComponent/partials/SearchAndSelector.vue';
import InnerPageContainer from '../../../components/innerPageComponent/innerPageComponent.vue';

// constants
const programName = 'BE-PTDC';
const schemeName = 'As per COA';
---
<Layout title="" isInnerPage={true}>
<InnerPageContainer staticTitle='' breadCrumbsArray={[]}>
<div class="container-fluid" data-aos="fade-up">
    <div class="row justify-content-center align-items-center">
        <SearchAndSelector client:load isInnerPage={true} selectedProgramProp="be-ptdc" selectedSchemeProp="as-per-coa"/>
    </div>
</div>
</InnerPageContainer>
</Layout>
<style></style>