---
import HeaderComponent from '../components/headerComponent/headerComponent.vue';
import FooterComponent from '../components/footerComponent/footerComponent.vue';

// Vendor CSS Files
import '@assets/vendor/aos/aos.css';
import '@assets/vendor/bootstrap/css/bootstrap.min.css';
import '@assets/vendor/bootstrap-icons/bootstrap-icons.css';
import '@assets/vendor/boxicons/css/boxicons.min.css';
import '@assets/vendor/glightbox/css/glightbox.min.css';
import '@assets/vendor/swiper/swiper-bundle.min.css';

// Template Main CSS File
import '@assets/css/style.css';

import favIcon from '@assets/img/favicon.png';
import favIconApple from '@assets/img/apple-touch-icon.png';

export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />

        <title>www.rgpvnotes.in - One stop solution for all thing RGPV related.</title>
        <meta content="" name="description" />
        <meta content="" name="keywords" />

        <!-- Favicons -->
        <link href={favIcon} rel="icon" />
        <link href={favIconApple} rel="apple-touch-icon" />

        <!-- Google Fonts -->
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
        />
    </head>

    <body>
        <HeaderComponent />
        <slot />
        <FooterComponent />
        <!-- Vendor JS Files -->
        <script src="/assets/vendor/purecounter/purecounter_vanilla.js" is:global></script>
        <script src="/assets/vendor/aos/aos.js" is:global></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" is:global
        ></script>
        <script src="/assets/vendor/glightbox/js/glightbox.min.js" is:global></script>
        <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js" is:global></script>
        <script src="/assets/vendor/swiper/swiper-bundle.min.js" is:global></script>
        <script src="/assets/vendor/php-email-form/validate.js" is:global></script>

        <!-- Template Main JS File -->
        <script src="/assets/js/main.js" is:global></script>
    </body>
</html>
